<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include("../partials/header") %>
  </head>
  <body>
    <%- include("../partials/nav") %>
    <div class="container">
      <h1 class="mt-5 mb-4">Generar Reportes</h1>
      <!-- Selector de tipo de reporte y rango de fechas -->
      <div class="row mb-4">
        <div class="col-md-6">
          <label for="tipoReporte" class="form-label">Tipo de Reporte</label>
          <select id="tipoReporte" class="form-select mb-3">
            <option value="mensual">Mensual</option>
            <option value="semanal">Semanal</option>
            <option value="quincenal">Quincenal</option>
          </select>
          <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
          <input
            type="date"
            id="fechaInicio"
            class="form-control mb-3"
            required
          />
          <label for="fechaFin" class="form-label">Fecha de Fin</label>
          <input type="date" id="fechaFin" class="form-control mb-3" required />
          <button
            type="button"
            class="btn btn-primary"
            onclick="generarReporte()"
          >
            Generar Reporte
          </button>
        </div>
      </div>
      <!-- Aquí se mostrará el reporte generado -->
      <div class="row">
        <div class="col-md-12" id="reporteContainer">
          <!-- Aquí se mostrará el contenido del reporte -->
        </div>
      </div>
    </div>
    <%- include("../partials/footer") %>
  </body>
</html>
